.background {
    background-repeat: no-repeat;
    background-position: 100%;
    height: 100%;
    width: 50vw;
}

.lending {
    height: calc(100vh - var(--app-shell-header-height) - var(--app-shell-padding));
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: $mantine-breakpoint-sm) {
        padding-inline: var(--mantine-spacing-lg) !important;
    }
}
